<h4>List</h4>
<ul class="list-group">
  @for (character of characterList; track character; let i = $index; let isLast = $last; let isEven = $even) {
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
		[ngClass]="{
			'list-group-item-dark': isLast,
			'list-group-item-primary':isEven
			}">
      <div>
        <span class="text-primary">
          {{i+1}}.
        </span>
        {{character.name}} - <strong>Power</strong>: ({{character.power}})
      </div>
      <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">x</button>
    </li>
  }
</ul>
